<div class="panel panel-primary">
<div class="panel-heading">Admin page</div>

  <h4>All users</h4>
    <ul class="amenities">
      <% @users.each do |student| %>
      <li><%= student.email %></li>
          <p>admin: <%= student.admin%>
          <%= button_to "Make Admin", make_admin_path(student.id), method: :put %>
          <%= button_to "Make Student", make_student_path(student.id), method: :put %></p>
          <%= student.pairs %>
      <% end %>

</div>
